body { background-color: #fff; color: #333; }

a { 
  color: #000; 
  text-decoration: none;
}

/*a:visited { color: #666; }*/
/*a:hover { color: #fff; background-color:#000; }*/

#container{
/*  width: 900px;*/
  min-height:100%;
  height:auto!important;
  height:100%;
  margin:0 auto -8.6em;
}

#header {
  background-color: #fcfcfc;
  background-color: #fcfcfc;
  background-image: url(/images/header_bg.png);
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: 0pt 100%;
  height: 8.82em;
  min-width: 75em;
}

#logo {
  float: left;
  margin-top: 6px;
  margin-bottom:-1px;
  
}


#controls {
  float: right;
  margin-top: 1.6em;
  width: 33em;
  background-color: #B3C4D4;
  color: #aaaacc;
  height: 100%;
/*  border: 1px solid #cccccc;*/
  border: 0px solid #333333;
  
  /* Do rounding (native in Firefox and Safari, CC in IE) */
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  CCborderRadius: 20px;
  
}

#controls div#start-control {
  padding-left: 10px;
  padding-top: 10px;
  float: left;
}

#controls div#end-control {
  float: right;
  padding-right: 10px;
  padding-top: 10px;
}

#controls p {
  color: #333333;
  font-size: 25px;
  padding:0;
  margin:0;
  padding-left: 0.5em;
  font-variant:small-caps;
}

#controls div#groups-control {
  clear:both;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
  width: 70%;
}

#controls div#groups-chooser {
  border: 3px solid #ffffff;
  padding-top: 15px;
  
  /* Do rounding (native in Firefox and Safari, CC in IE) */
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  CCborderRadius: 20px;
}

#controls div#groups-control ul li {
  list-style-type: none;
  font-size: 140%;
  color: #333333;
  padding-bottom: 0.4em;
}

#switch-control {
  padding-top: 15px;
  text-align:center;
  font-size: 120%;
}


.site {
  width: 80em;
  margin-top: 0pt;
  margin-right: auto;
  margin-bottom: 0pt;
  margin-left: auto;
  padding-top: 0pt;
  padding-right: 3em;
  padding-bottom: 0pt;
  padding-left: 3em;
  text-align: left;
}

/*********************
** Navigation Bar
**********************/
#navbar {
/*  clear: both;*/
  background-color: #333333;
  height: 3.4em;
}

#navbar ul {
  overflow-x: hidden;
  overflow-y: hidden;
}

#navbar ul li {
  float:left;
  list-style-type: none;
  height: 3.4em;
  padding-top: 0.4em;
  position: relative;
}

#navbar ul li a {
  text-decoration: none;
  padding-top: 0.4em;
  padding-right: 1.25em;
  padding-bottom: 0.7em;
  padding-left: 1.25em;
  color: #979797;
  font-size: 140%;
}

#navbar ul li a:hover {
  background-color: #4D4D4D;
}

#navbar ul li a.active {
  border-bottom: 5px solid #00A0C6;
}


/*********************
** Content
**********************/
#content {
/*  clear: both;*/
  margin-top: 3em;
/*  float:left;*/
}


pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

#footer {
/*  clear: both;*/
  background-color: #333333;
  height: 3.4em;
}

#footer p {
  padding-top:0.6em;
  color: #979797;
}

.clearbox {
  clear:both;
  height: 20px;
  width:100%;
}

.center {
  margin:auto;
  height:100%;
}

/*********************
** Rails Errors
**********************/
.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

