body { background-color: #fff; color: #333; }

acronym {
  cursor: help;
}

a { 
  color: #000; 
/*  text-decoration: none;*/
}

a.closed {
  background-image: url(/images/arrow_down.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0px 50%;
  padding-left: 18px;
}

.right {
  float:right;
  padding-right: 25px;
  padding-top:10px;
}
/*a:visited { color: #666; }*/
/*a:hover { color: #fff; background-color:#000; }*/

#container{
/*  width: 900px;*/
  min-height:100%;
  height:auto!important;
  height:100%;
  margin:0 auto -8.6em;
}

#header {
  background-color: #fcfcfc;
  background-color: #fcfcfc;
  background-image: url(/images/header_bg.png);
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: 0pt 100%;
  height: 8.82em;
  min-width: 75em;
}

#logo {
  float: left;
  margin-top: 6px;
  margin-bottom:-1px;
}

#spinner {
  padding-left: 280px;
  margin-top:-50px;
  margin-bottom:18px;
}

#small-spinner {
  margin-top:-20px;
  margin-bottom:4px;  
}

th.sortup a {
  background-image: url(/images/arrow_up.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 100% 50%;
  padding-right: 18px;
}

th.sortdown a {
  background-image: url(/images/arrow_down.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 100% 50%;
  padding-right: 18px;
}

.controls {
  float: right;
}

.control {
  margin-top: 1.0em;
  width: 33em;
  background-color: #B3C4D4;
  color: #aaaacc;
  height: 100%;
  /* Do rounding (native in Firefox and Safari, CC in IE) */
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  CCborderRadius: 20px;  
}

.controls p {
  color: #333333;
  padding:0;
  margin:0;
}

.control p.control-title {
  padding-top: 5px;
  font-size: 25px;
  padding-left: 0.5em;
  font-variant:small-caps;
}

.control div.specialized-control {
  clear:both;
  padding-top: 5px;
  padding-bottom: 10px;
  margin: auto;
  width: 70%;
}

.control div.specialized-control ul li {
  list-style-type: none;
  font-size: 140%;
  color: #333333;
/*  padding-bottom: 5px;*/
}

.control .control-entry {
/*  padding: 3px;*/
  padding-left: 5px;
  clear:both;
}

.control p.control-subtitle {
  padding-top: 5px;
/*  margin-bottom: 5px;*/
  font-size: 15px;
  padding-left: 0.25em;
  font-variant:small-caps;
}

#main-control div#start-control {
  padding-left: 10px;
  float: left;
}

#main-control div#end-control {
  float: right;
  padding-right: 10px;
}

#main-control div#groups-chooser {
  border: 3px solid #ffffff;
  padding-top: 15px;
  /* Do rounding (native in Firefox and Safari, CC in IE) */
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  CCborderRadius: 20px;
}

#global-rule-control {
  color: #333333;
}

#global-rule-control label {
  vertical-align: middle;
  padding-left: 5px;
  padding-right: 5px;
}

#global-rule-control input {
  font-size: 80%;
/*  width: 3em;*/
/*  height: 1em;*/
}

#global-rule-control input.button {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom :10px;
}

.wide-rule-control {
  color: #333333;
  width: 100%;
/*  padding-bottom:20px;*/
  margin-bottom: 10px;
}

.wide-rule-control label {
  vertical-align: middle;
  padding-left: 5px;
  padding-right: 5px;
}

.wide-rule-control input {
  font-size: 80%;
/*  width: 3em;*/
/*  height: 1em;*/
}

.wide-rule-control input.button {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom :10px;
}
#switch-control {
  padding-top: 15px;
  text-align:center;
  font-size: 120%;
}


.site {
  width: 83em;
  margin-top: 0pt;
  margin-right: auto;
  margin-bottom: 0pt;
  margin-left: auto;
  padding-top: 0pt;
  padding-right: 3em;
  padding-bottom: 0pt;
  padding-left: 3em;
  text-align: left;
}




/*********************
** Navigation Bar
**********************/
#navbar {
/*  clear: both;*/
  background-color: #333333;
  height: 3.4em;
}

#navbar ul {
/*  overflow-x: hidden;*/
/*  overflow-y: hidden;*/
  margin: 0;
  padding: 0;
}

#navbar ul li {
  float:left;
  list-style-type: none;
  height: 3.4em;
/*  padding-top: 0.4em;*/
  position: relative;
  z-index: 100;
}

#navbar ul li a {
  text-decoration: none;
  display: block;
  padding-top: 0.4em;
  padding-bottom: 0.5em;
  padding-right: 1.25em;
/*  height:100%;*/
/*  padding-bottom: 0.7em;*/
  padding-left: 1.25em;
  color: #979797;
  font-size: 140%;
  text-align: center;
  white-space: nowrap;
}

#navbar ul li a:hover {
  background-color: #4D4D4D;
}

#navbar ul li a.active {
  border-bottom: 5px solid #00A0C6;
}

#dropdown li ul {
  margin: 0;
  padding: 0;
  position: absolute;
  visibility: hidden;
/*  border-top: 1px solid white*/
}

#dropdown li ul li {
  float: none;
  display: inline
}

#dropdown li ul li a {
  width: auto;
  background: #A60000;
  text-align: left;
}

#dropdown li ul li a:hover {
  background: #800000;
}



/*********************
** Content
**********************/
#content {
/*  clear: both;*/
  margin-top: 3em;
/*  float:left;*/
}


pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

#footer {
/*  clear: both;*/
  background-color: #333333;
  height: 3.4em;
}

#footer p {
  padding-top:0.6em;
  color: #979797;
}

.clearbox {
  clear:both;
  height: 20px;
  width:100%;
}

.center {
  text-align: center;
  margin:auto;
  height:100%;
}

/*********************
** Rails Notice
**********************/

#notice {
  margin:auto;
  text-align:center;
  font-size: 150%;
  color:#979797;
  width: 60%;
  padding: 15px;
  background-color: #333333;
  
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  CCborderRadius: 20px;
}

/*********************
** Rails Errors
**********************/
.fieldWithErrors {
  padding: 2px;
  color: #979797;
  background-color: #800000;
  display: inline-table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

