<%= render :partial => 'layouts/controls' %>
<h1>Title</h1>
<!-- First large graph goes in its own column -->
<!-- This keeps it over to the left - out of the way of the  -->
<!-- date picker -->
<div class="column span-13 first last">
  <div id="switch-control">
  </div>
</div>

<!-- This is just a hack to make sure everything sits as it should   -->
<!-- We can replace with something cleaner later -->
<div class="clearbox"></div>
<div class="clearbox"></div>

<!-- Here is where a series of graphs can go  -->
<div class="column span-6 first">
</div>
<div class="column span-6">
</div>
<div class="column span-6">
</div>
<div class="column span-6 last">
</div>

<div class="clearbox"></div>

