<h1>Host Name Associations</h1>
<div id="host_names">
  <%= render :partial => 'host_names', :locals => {:host_names => @host_names}%>  
</div>
<br/>
<br/>

<%= link_to "New Host Name Association", new_admin_host_name_url %>