<h1>Host Names</h1>

<table style="width:60%; margin:auto;">
  <tr>
    <th>IP Address</th>
    <th>Alias</th>
  </tr>
    <%- @host_names.each do |host| -%>
      <tr>
        <td><%=text_field_tag "", host.raw_ip_address, :size => 10 %></td>
        <td><%=text_field_tag "", host.name, :size => 10 %></td>
        <td><%= button_to_remote "Update" %></td>
        <td><%= image_tag("cancel.png") %></td>
      </tr>
    <%- end -%>
</table>
<br/>
<br/>