<h1>Port Number Associations</h1>
<div id="port_names">
  <%= render :partial => 'port_names', :locals => {:port_names => @port_names}%>  
</div>
<br/>
<br/>

<%= link_to "New Port Association", new_admin_port_name_url %>