<div class="rounded" id="controls">
  <div id="start-control">
    <p>Start</p>
    <%= calendar_date_select_tag "p_date_and_time", nil, :time => true  %>
  </div>
  <div id="end-control">
    <p>End</p>
    <%= calendar_date_select_tag "p_date_and_time", nil, :time => true  %>
  </div>
  <div id="groups-control">
    <p>Groups</p>
    <div id="groups-chooser">
      <ul>
        <%- unless !@groups || @groups.empty? -%>
          <%- @groups.each do |group| -%>
            <li><%= check_box_tag group.id %> <%= group.name %></li>
          <%- end -%>
        <%- else -%>
          <li>None</li>
        <%- end -%>
      </ul>
    </div>
  </div>
</div>

