<div class="rounded" id="controls">
  <div id="start-control">
    <p>Start</p>
    <%= calendar_date_select_tag "start_date_time", @time_range.start_time, :time => true, :year_range => 1, 
                                 :after_close => 'update_date(\'start_time\',$F(this));' 
    %>
  </div>
  <div id="end-control">
    <p>End</p>
    <%= calendar_date_select_tag "end_date_time", @time_range.end_time, :time => true,:year_range => 1, 
                                 :after_close => 'update_date(\'start_time\',$F(this))' 
    %>
  </div>
  <div id="groups-control">
    <p>Groups</p>
    <div id="groups-chooser">
      <ul>
        <%- unless !@groups || @groups.empty? -%>
          <%- @groups.each do |group| -%>
            <li><%= check_box_tag group.id %> <%= group.name %></li>
          <%- end -%>
        <%- else -%>
          <li>None</li>
        <%- end -%>
      </ul>
    </div>
  </div>
</div>

