<div class="controls">
  <div class="rounded control" id="main-control">
    <div id="start-control">
      <p class="control-title">Start</p>
      <%= calendar_date_select_tag "start_date_time", @time_range.start_time, :time => true, :year_range => 1, 
                                   :after_close => 'update_date(\'start_time\',$F(this));' 
      %>
    </div>
    <div id="end-control">
      <p class="control-title">End</p>
      <%= calendar_date_select_tag "end_date_time", @time_range.end_time, :time => true,:year_range => 1, 
                                   :after_close => 'update_date(\'end_time\',$F(this))' 
      %>
    </div>
    <div class="specialized-control">
      <%= yield %>
    </div>
  </div>
    <%= render :partial => 'layouts/filter', :locals => {:global_rule => @global_rule}  %>
</div>