  <div id="header">
    <div class="site">
      <div id="logo">
        <%= image_tag "lincoln_logo_transparent_red.png" %>
      </div>
    </div>
  </div>
  <div id="navbar">
    <div class="site">
      <ul id="dropdown">
        <li>
          <%= link_to "All Groups", groups_url %>
          <ul>
            <%- unless @groups.empty? -%>
            <%- @groups.each do |group| -%>
              <li><%= link_to group.name, group_url(group) %></li>
            <%- end -%>
            <%- else -%>
              <li><a href="#">None</a></li>
            <%- end -%>
          </ul>
        </li>
        <li><%= link_to('Admin', admin_groups_path) %></li>
      </ul>
    </div>
  </div>
